tensorflow >= 2.9.0; sys_platform != 'darwin' or (sys_platform == 'darwin' and platform_machine != 'arm')
tensorflow-macos >= 2.9.0; sys_platform == 'darwin' and platform_machine == 'arm'
absl-py >= 0.1.6
